<div class="body">
  <div class="container welcome-page">
    <div class="row">
      <div class="col-md-12 page-header">
          <h1>Medical Information System</h1>
          <div class="col-md-12 find-path"><p>Find me in app/views/welcome/main.html.erb</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 main-content home-buttons">
        <a href="patients/login" class="btn btn-primary login-button">Patient Login</a>
        <a href="doctors/login" class="btn btn-primary login-button">Doctor Login</a>
        <a href="nurses/login" class="btn btn-primary login-button">Nurse Login</a>
        <a href="labstaff/login" class="btn btn-primary login-button">Lab Staff Login</a>
        <a href="hspstaffs/login" class="btn btn-primary login-button">Healthcare Service Provider Login</a>
        <a href="pharmacist/login" class="btn btn-primary login-button">Pharmacist Login</a>
        <!--<a href="admin/login" class="btn btn-warning login-button">Administrator Login</a>-->
      </div>
    </div>
    <div class="row">
      <div class="usr-story">
        <h1>User Stories</h1>
      </div>
    </div>
    <div class="row">
      <div class="welcom-body">
        <div class="column-left">
          <div class="usr-story-h1"><h1>Alex - Doctor</h1></div>
          <img class="col-img" src="http://dreamatico.com/data_images/doctor/doctor-8.jpg" alt="Smiley face" height="80%" >
          <div class="usr-story-text">Before using MIS, I had to spend lot of time to check patient's health condition. After my hospital applied MIS, I decrease 80% workload of checking patient's health condition.</div>
        </div>
        <div class="column-center">
          <div class="usr-story-h1"><h1>Sherry - Nurse</h1></div>
          <img class="col-img" src="http://giftedhealthcare.com/wp-content/uploads/private-duty.jpg" alt="Smiley face" height="80%" >
          <div class="usr-story-text">MIS definitely is the best choice for hospital. We can find patient's information including health condition, medical record and statistical report from it.</div>
        </div>
        <div class="column-right">
          <div class="usr-story-h1"><h1>Lisa - Lab Staff</h1></div>
          <img class="col-img" src="http://blog.employersolutions.com/wp-content/uploads/2011/10/Lab-Scientist.jpg" alt="Smiley face" height="80%" >
          <div class="usr-story-text">I spent a lot of time to talk with doctors about the labworks. But after using MIS, I just have to check from it and update the report. It is really useful.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-text">Posted by: ASU CSE360 Group3 15Fall</div>
  <div class="footer-text">Dayton Harris(Leader)</div>
  <div class="footer-text">Mark Androshick</div>
  <div class="footer-text">Bishnu Basnet</div>
  <div class="footer-text">Connor Golobich)</div>
  <div class="footer-text">Nash Qamer</div>
  <div class="footer-text">Balaji Sankar</div>
  <div class="footer-text">Alex Schultz</div>
  <div class="footer-text">Justin Jau-Yuan Shiao</div>
  <div class="footer-text">Daniel Villela</div>
</div>