<h1>Edit Medical History</h1>
<p></p>
<%= form_tag(:action => 'edit_submit', :history_id => params[:history_id]) do %>
<p>Description: <%= text_field_tag(:description, @editHistory[:description], :required => true) %></p>
<p>Date:</br><%= date_field "", :date, :value => @editHistory[:date], :required => true,  max: Date.today %></p>
<%= submit_tag("Save Changes")%>
<% end %>
